language: java
jdk:
  - openjdk8

branches:
  only:
    - master

# Travis ci 서버의 home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

# CI 실행 완료 시 메일로 알람
notifications:
  email:
    recipients:
      - aeinhugo@gmail.com


before_deploy:
  - zip -r springboot-aws-webservice *
  - mkdir -p deploy
  - mv springboot-aws-webservice.zip deploy/springboot-aws-webservice.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: springboot-aws-build-bucket
    region: ap-northeast-2
    skip_cleanup: true
    acl: private
    local_dir: deploy
    wait-until-deployed: true
  - provider: codedeploy
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: springboot-aws-build-bucket
    key: springboot-aws-webservice.zip
    bundle_type: zip
    application: springboow-aws-webservice
    deployment_group: springboow-aws-webservice-group
    region: ap-northeast-2
    wait-until-deployed: true
